.titulo{
  text-align: center;
}
body{
  background-color: rgb(198, 198, 250);
  font-size: large;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
}

table, td, th {
  border: 1px solid;
  padding: 20px;
}

select{
  margin-bottom: 20px;
}



