@import url(https://fonts.googleapis.com/css?family=Roboto);

.titulo{
  text-align: center;
}
body{
  background-color: rgb(198, 198, 250);
  font-size: large;
  font-family: Roboto, sans-serif;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
}

table, td, th {
  border: 1px solid;
  padding: 20px;
}

select{
  margin-bottom: 20px;
}



#chart {
  max-width: 650px;
  margin: 35px auto;
}

